[MQTT]
server = "test.mosquitto.org"
port = 1883
topic = "mludvig/coming"
client_name = "display"

[ImageDownloader]
enabled = true
url = "https://source.unsplash.com/random/160x128"
refresh = 300	# seconds

[Buzzer]
enabled = false
